/* account.css */

body {
    background-image: url('account.jpg');
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #ffa500; /* Orange */
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
}
.bck{
    margin-left: 10px;
    margin: 0;
    margin-top: 5px;
    width: 50px;
}

   



